*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

}

#game {
    display: flex;
    background-image: url(../images/backgrounds/forest-bg.jpg);
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}